$padding: 8px;
$margin: 8px;
$radius: 4px;

%btn {
    border-radius: 6px;
    border-color: #e0e0e0;
    box-shadow: 0 0 8px 0 #e0e0e0;
    padding: 6px $padding*2;
    background-color: #03bb85;
    color: white;
}